body {
    font: bold 10pt Courier New;
}
button {
    font: inherit;
    border-radius: 5px;
    background-color: #eee;
    outline: 0;
    padding: 5px 10px;
    margin-bottom: 8px;
    display: block;
}
input {
    font: inherit;
    width: 33px;
    text-align: center;
}
input.var {
    width:100px;
}
span {
    color: #bbb;
    font-weight: normal
}
-span:before {
    content: '/*'
}
-span:after {
    content: '*/'
}
div.newrect, div.intersect {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid black;
    opacity: .65;
    padding: 3px;
    font: normal 8pt arial;
}
div.intersect {
    border-color: #a00;
    background-color: red;
    padding: 1.4em 0 0 1.4em;
}
